In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pwd

'C:\\Users\\dhima\\Desktop\\Social data buzz-Forage'

In [29]:
#import Contect file

In [2]:
df=pd.read_csv('6.Content.csv',index_col=0)

In [14]:
df.head()

,Content ID,User ID,Type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [15]:
df.describe()

,Content ID,User ID,Type,Category,URL
count,1000,1000,1000,1000,801
unique,1000,446,4,41,801
top,97522e57-d9ab-4bd6-97bf-c24d952602d2,72d2587e-8fae-4626-a73d-352e6465ba0f,photo,technology,https://socialbuzz.cdn.com/content/storage/975...
freq,1,8,261,71,1

In [16]:
#no need of USERID and URL

In [17]:
df.drop(labels=['User ID','URL'],axis=1,inplace=True)

In [18]:
df.describe()

                                  Content ID   Type    Category
count                                   1000   1000        1000
unique                                  1000      4          41
top     97522e57-d9ab-4bd6-97bf-c24d952602d2  photo  technology
freq                                       1    261          71

In [23]:
df['Category'].unique()

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture'],
      dtype=object)

In [21]:
#there are some categories in lower and upper case and with ""

In [22]:
df['Category']=df['Category'].apply(lambda x:x.strip('""').lower())

In [25]:
df['Category'].value_counts()

Category
technology         73
animals            72
travel             69
science            68
culture            67
fitness            66
food               64
soccer             64
healthy eating     62
cooking            61
tennis             59
education          59
studying           58
dogs               58
public speaking    50
veganism           50
Name: count, dtype: int64

In [26]:
#Rename content

In [27]:
df.rename(columns={'Type':'Content_Type'},inplace=True)

In [28]:
df['Content_Type'].value_counts()

Content_Type
photo    261
video    259
GIF      244
audio    236
Name: count, dtype: int64

In [59]:
df.dropna(inplace=True)

In [30]:
#import Reactions file

In [38]:
dfr=pd.read_csv('5.Reactions.csv',index_col=0)

In [32]:
dfr.head()

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [39]:
dfr.describe()

,Content ID,User ID,Type,Datetime
count,25553,22534,24573,25553
unique,980,500,16,25542
top,4b2d0fff-3b4f-43ca-a7df-c430479cb9ba,c76c3393-88e2-47b0-ac37-dc4f2053f5a5,heart,2020-10-29 20:51:08
freq,49,65,1622,2

In [40]:
#drop userid
dfr.drop(labels=['User ID'],axis=1,inplace=True)

In [41]:
#drop rows with missing values
dfr.dropna(inplace=True)

In [42]:
#type to reaction type

In [43]:
dfr.rename(columns={"Type":"Reaction_Type"},inplace=True)

In [44]:
dfr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24573 entries, 1 to 25552
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     24573 non-null  object
 1   Reaction_Type  24573 non-null  object
 2   Datetime       24573 non-null  object
dtypes: object(3)
memory usage: 767.9+ KB

In [45]:
#import reactionTypes files

In [46]:
rtdf=pd.read_csv('4.ReactionTypes.csv',index_col=0)

In [48]:
rtdf.head()

         Type Sentiment  Score
0       heart  positive     60
1        want  positive     70
2     disgust  negative      0
3        hate  negative      5
4  interested  positive     30

In [49]:
rtdf.describe()

           Score
count  16.000000
mean   39.625000
std    26.901983
min     0.000000
25%    14.250000
50%    40.000000
75%    66.250000
max    75.000000

In [50]:
#type to rection type
rtdf.rename(columns={'Type':'Reaction_Type'},inplace=True)

In [51]:
rtdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Reaction_Type  16 non-null     object
 1   Sentiment      16 non-null     object
 2   Score          16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes

In [52]:
#Now to find the top 5 categories we need mainly 6 columns= content_id,content_type,category,rection_type,sentiment,score
#datetime column can also be taken into account

In [53]:
#for this we need to merge the columns

In [61]:
#merge content and rection file
top_category=dfr.merge(df,on='Content ID')

In [63]:
top_category.head(10)

,Content ID,Reaction_Type,Datetime,Content_Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,studying
5,97522e57-d9ab-4bd6-97bf-c24d952602d2,peeking,2020-12-07 06:27:54,photo,studying
6,97522e57-d9ab-4bd6-97bf-c24d952602d2,cherish,2021-04-11 17:35:49,photo,studying
7,97522e57-d9ab-4bd6-97bf-c24d952602d2,hate,2021-01-27 08:32:09,photo,studying
8,97522e57-d9ab-4bd6-97bf-c24d952602d2,peeking,2021-04-01 22:54:23,photo,studying
9,97522e57-d9ab-4bd6-97bf-c24d952602d2,love,2020-08-04 05:05:02,photo,studying

In [64]:
#merge top_category with reaction type

In [65]:
top_category=top_category.merge(rtdf,on='Reaction_Type')

In [69]:
top_category

,Content ID,Reaction_Type,Datetime,Content_Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,studying,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-04-09 02:46:20,photo,studying,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,2021-03-28 21:15:26,photo,healthy eating,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,2020-08-04 05:40:33,photo,healthy eating,negative,0
...,...,...,...,...,...,...,...
24568,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,2020-10-04 22:26:33,audio,veganism,positive,72
24569,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,2020-09-18 10:50:50,audio,veganism,positive,72
24570,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-10-31 03:58:44,GIF,culture,positive,72
24571,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-06-25 15:12:29,GIF,culture,positive,72
24572,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-12-17 16:32:57,GIF,culture,positive,72

In [100]:
top_5 = top_category.groupby('Category',level=0).sum().sort_values(by='Score',ascending=False)

In [102]:
top_5.head()

,Content ID,Reaction_Type,Datetime,Content_Type,Category,Sentiment,Score
14639,7913b30d-19fd-4900-8a68-ce141192b3ec,super love,2020-12-03 17:51:08,audio,cooking,positive,75
14863,10683ab8-914b-43ae-ad2d-b2fd6a48dc33,super love,2020-11-17 06:19:04,audio,soccer,positive,75
14872,d624685f-99a7-4aee-902b-283f5cf85ada,super love,2020-10-08 03:26:46,photo,studying,positive,75
14871,5b71c62f-2c89-4d19-991f-65fedd0b52fd,super love,2021-01-22 09:44:43,video,education,positive,75
14870,9c8be342-6cff-4d80-bf94-fd0fd8ccd845,super love,2021-06-05 19:24:09,video,dogs,positive,75

In [103]:
top_5.tail()

,Content ID,Reaction_Type,Datetime,Content_Type,Category,Sentiment,Score
1020,d0c1d7f4-7735-49a9-ab6b-2cdb2338a609,disgust,2020-09-01 16:16:01,GIF,travel,negative,0
1021,d0c1d7f4-7735-49a9-ab6b-2cdb2338a609,disgust,2020-10-18 09:06:03,GIF,travel,negative,0
1022,d0c1d7f4-7735-49a9-ab6b-2cdb2338a609,disgust,2020-06-23 01:57:10,GIF,travel,negative,0
1023,f3e8d168-6fb9-48b9-8347-b35595162c1d,disgust,2020-09-02 17:27:59,video,soccer,negative,0
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,studying,negative,0

In [104]:
top_category.to_csv('8.Clean data.csv')

In [107]:
top_5.to_csv('9.top_5.csv')